* {
    font-family: montserrat, Helvetica, arial, sans-serif;  
    text-decoration: none;
}

#page-title {
    font-family: cursive;
    text-align: center;
    font-size: 50px;
    color: rgb(39, 89, 33);

}

.recipe-box {
    display: flex;
    min-height: 200px;
    height: auto;
    padding: 10px 10px 35px 10px;
    background-color:rgb(61, 138, 53);
    align-items: center;
    justify-content: center;
    margin: 0 400px 0 400px auto;
    border-radius: 10px;
    width: auto;
    flex-wrap: wrap;
}

.recipe-photo {
    display: flex;
    max-height: 150px;
    width: auto;
    flex-wrap: wrap;
    padding: 28px;
    margin: 0 auto;
    border-radius: 10px;
}

.recipe-name {
    display: flex;
    justify-content: center;
    font: montserrat, Helvetica, arial, sans-serif;
    display: block;
    font-weight: 60;
    text-align: center;
    color: white;
    min-font-size: 24px;
    font-size: auto;
    margin-top: 0px;
    flex-wrap: wrap;
}