
.recipe-box {
    display: flex;
    height: 200px;
    padding: 10px 10px 50px 10px;
    background-color:rgb(61, 138, 53);
    align-items: center;
    justify-content: center;
    margin: 0 400px 0 400px auto;
    border-radius: 10px;
}

.recipe-photo {
    display: flex;
    max-height: 150px;
    padding: 28px;
    margin: 0 auto;
    border-radius: 10px;
}

.recipe-name {
    display: flex;
    justify-content: center;
    font: montserrat, Helvetica, arial, sans-serif;
    display: block;
    font-weight: 60;
    text-align: center;
    color: white;
    font-size: 24px;
    margin-top: 0px;
}